.card{
    background-image: url("https://www.magicitemtool.com/assets/cards/parchment.png");
    height: 500px;
    width: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 25px;
}

.card-title{
    padding-top: 8px;
    font-size: 22px;
    margin-bottom: 20px;
}

.card-details{
    padding-top: 10px;
}

#demo{
    display: flex;
    flex-direction: row;
}

.search-bar{
    align-items: center;
    margin-left: 42.3%;
    display: flex;
    width: 400px;
    background-color: black;
    height: 80px;
    border-radius: 25px;
    margin-bottom: 100px;
    color: maroon
}

.title{
    color: maroon;
    font-size: 44px;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    margin-left: 36.3%;
    width: 700px;
    margin-bottom: 100px;
}

.comment-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    color: maroon;
    border-radius: 25px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  textarea {
    flex: 1;
    min-width: 200px;
    margin-right: 10px;
  }
  
  button {
    background-color: maroon;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover{
    color: white;
  }
  
  .comment-history {
    width: 20%;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    color: maroon;
    border-radius: 25px;
  }